<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="ebXmlEndpointBehaviour" type="Shared.ServiceModel.EbXmlEndpointBehaviorExtension, Shared, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="passThroughBinding">
          <textMessageEncoding messageVersion="None" />
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ebXmlBehaviour">
          <ebXmlEndpointBehaviour />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint name="TestEndpoint" address="http://localhost:54688/TestEndpoint.svc/"
        behaviorConfiguration="ebXmlBehaviour" binding="customBinding"
        bindingConfiguration="passThroughBinding" contract="Shared.ITestEndpoint" />
    </client>
  </system.serviceModel>
</configuration>